
<div class="order">
    <div class="ordersList">
        <img style="float:left" src="{{image }}">
        <div class="spriteBook"></div>
        <a href="#">{{ book }}</a>
        <span>{{ author }}</span>
        <b class="price">{{ price }}грн.</b>
    </div>

    <div class="ordersList">
        <b>{{ quantity }}</b>
    </div>
    <div class="ordersList">
        <b class="price">{{ price }}грн.</b>
    </div>
</div>

